# Binary junk to ignore.
lib/*
lily
embed_examples/call_lily_from_c

# CMake-related stuff.
CMakeFiles
CMakeCache.txt
cmake_install.cmake
compile_commands.json
install_manifest.txt
Makefile

# Other bits I'm not interested in.
garden/docopt.pyc
