*.o
*.lo
lily_fs
lily_cliexec
lily_aft

.libs/
.deps/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/apache/mod_lily.la
src/Makefile
src/Makefile.am
src/Makefile.in
stamp-h1
